{{header-component}}
<div class="row">
	<div class="col-lg-12">
    <div id="alertMsg" class="alert alert-dismissible" role="alert" hidden>
      <button type="button" class="close" {{action "cerrarMsg"}} aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>{{msg.tipo}}</strong> {{msg.desc}}
    </div>
  </div>
</div>
<div class="well jumbo-color">
	<div class="row">

    	<div class="col-md-12 ">
           	<div class="panel panel-default">
	            <div class="panel-heading">
	            	<h3 class="panel-title"> Detalle Etapa</h3>
	            </div>
               	<div class="panel-body">
               		<div class="row">

		      			<div class="col-md-6">
							<div class="form-group">
								<label>Codigo </label><small class="form-text text-muted">* </small>
								<div class="input-group">
								  {{input type="text" class="form-control" value=etapa.letra_eta disabled=true}}
								  <span class="input-group-addon">{{fa-icon "folder-open-o"}}</span>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>Estatus </label><small class="form-text text-muted">* </small>
								<div class="input-group">
								  {{input type="text" class="form-control" value=etapa.estatus disabled=true}}
								  <span class="input-group-addon">{{fa-icon "info"}}</span>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<label>Nombre </label><small class="form-text text-muted">* </small>
								<div class="input-group">
								  {{input type="text" class="form-control" value=etapa.nombre_eta disabled=true}}
								  <span class="input-group-addon">{{fa-icon "bars"}}</span>
								</div>
							</div>
						</div>

						

					


               		</div>
                </div>
            </div>
        </div>


        <div class="col-md-12 ">
           	<div class="panel panel-default">
	            <div class="panel-heading">
	            	<h3 class="panel-title"> Acciones</h3>
	            </div>
               	<div class="panel-body">
               		<div class="row">

               			<div class="col-md-12  text-center">
				           	<div class="panel panel-default">
				               	<div class="panel-body">
				               		<div class="row">
				               			<div class="col-md-12  text-center">
				               				<button class="btn btn-lg width-80 fsize-9" type="submit" {{action 'openModalReporteDetalle'}}>
				               				<span class="pull-left" >{{fa-icon "clipboard"}}</span> 
				               				<span>Llenar Reporte Detalle</span>
				               				</button>
				               				
				               			</div>
				               		</div>
				                </div>
				            </div>
               			</div>


               			<div class="col-md-12  text-center">
				           	<div class="panel panel-default">
				               	<div class="panel-body">
				               		<div class="row">
				               			<div class="col-md-12  text-center">
				               				<button class="btn btn-lg width-80 fsize-9" type="submit" {{action 'openModalActividades'}}>
				               				<span class="pull-left" >{{fa-icon "list-ol"}}</span> 
				               				<span>Actividades</span>
				               				</button>
				               				
				               			</div>
				               		</div>
				                </div>
				            </div>
               			</div>



               			<div class="col-md-12  text-center">
				           	<div class="panel panel-default">
				               	<div class="panel-body">
				               		<div class="row">
				               			<div class="col-md-12  text-center">
				               				<button class="btn btn-lg width-80 fsize-9" type="submit" {{action 'openModalSolicitudMateriales'}}>
				               				<span class="pull-left" >{{fa-icon "file-text-o"}}</span> 
				               				<span>Solicitar Materiales</span>
				               				</button>
				               				
				               			</div>
				               		</div>
				                </div>
				            </div>
               			</div>



               			<div class="col-md-12  text-center">
				           	<div class="panel panel-default">
				               	<div class="panel-body">
				               		<div class="row">
				               			<div class="col-md-12  text-center">
				               				<button class="btn btn-lg width-80 fsize-9" type="submit" {{action 'openModalReporte'}}>
				               				<span class="pull-left" >{{fa-icon "pencil-square-o"}}</span> 
				               				<span>Reportar</span>
				               				</button>
				               				
				               			</div>
				               		</div>
				                </div>
				            </div>
               			</div>

               		</div>
                </div>
            </div>
        </div>


    </div>
</div>






<!-- Modal REPORTE DETALLE-->
<div class="modal fade " id="myModalReporteDetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Reporte Detalle</h4>
      </div>
      <div class="modal-body">
          
       <div>
		    <form id="formulario_rd">
		    	<div class="row">
		    	<br><br>
		    	<div class="col-md-6">
					<div class="form-group">
						<label>Persona que atendió visita</label><small class="form-text text-muted"> </small>
						<div class="input-group">
						  {{input name="persona_a" id="persona_a" type="text" class="form-control" placeholder="Persona que atendió al técnico en el reporte de detalle" value=reporte_detalle.persona_a }}
						  <span class="input-group-addon">{{fa-icon "user"}}</span>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label>Cargo persona que atendió visita</label><small class="form-text text-muted"> </small>
						<div class="input-group">
						  {{input name="cargo_a" id="cargo_a" type="text" class="form-control" placeholder="Cargo de la persona que atendió al técnico en el reporte de detalle" value=reporte_detalle.cargo_a }}
						  <span class="input-group-addon">{{fa-icon "user"}}</span>
						</div>
					</div>
				</div>


				<div class="col-md-12">
					<div class="form-group">
						<label>Observaciones</label><small class="form-text text-muted"> </small>
						<div class="input-group height-100">
						  {{textarea name="observ" id="observ" type="text" class="form-control height-120" placeholder="Observaciones" value=reporte_detalle.observ }}
						  <span class="input-group-addon">{{fa-icon "bars"}}</span>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label>Vicios Ocultos</label><small class="form-text text-muted"> </small>
						<div class="input-group height-100">
						  {{textarea name="vicios_ocu" id="vicios_ocu" type="text" class="form-control height-120" placeholder="Vicios ocultos de la etapa" value=reporte_detalle.vicios_ocu }}
						  <span class="input-group-addon">{{fa-icon "bars"}}</span>
						</div>
					</div>
				</div>
				</div>
			</form>
		 
		  </div>

		</div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button  {{action 'guardarReporteDetalle' }} class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>






<!-- Modal Actividades-->
<div class="modal fade " id="myModalActividades" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Actividades</h4>
		</div>
    	<div class="modal-body" id="modalBodyActividades">
          
          	<ul class="list-group">
			  	{{#each etapa.actividades as |actividad|}}
			  	<li class="list-group-item">
			  		{{#if actividad.completada}}
				    	<span class="badge">Completada</span>
				    {{else}}
				    
				    	<div class="pull-right">
				    		<span> Completar &nbsp;</span><input type="checkbox" value="{{actividad.codigo}}">
				    	</div>
				    	
				    {{/if}}
				    <strong>{{actividad.nro}})</strong> {{actividad.desc}}
				</li>
				{{/each}}
			</ul>

		</div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default fsize-9" data-dismiss="modal">Cancelar</button>
        <button  {{action 'guardarActividades' }} class="btn btn-primary fsize-9">Guardar</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal SOLICITUD MATERIALES-->
<div class="modal fade " id="myModalSolicitudMateriales" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      	<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        	<h4 class="modal-title" id="myModalLabel">Solicitud Materiales</h4>
      	</div>
      	<div class="modal-body fsize-9">

      		
	      	<div class="row">
	      		<div class="col-md-12">
	      			<div class="table-responsive ">
			          	<table class="table table-condensed table-bordered">
				            <thead>
				              <tr>
				                <th class="col-md-2">Código</th>
				                <th class="col-md-4">Desc</th>
				                <!--<th class="col-md-3">Serial</th>-->
				                <!--<th>Descripción</th>-->
				                <th class="col-md-2">Cantidad</th>
				                <th class="col-md-1">Seleccion</th>
				              </tr>
				            </thead>
				            <tbody>
				              {{#each disponibles as |material|}}
				              <tr>
				              	{{#if material.mostrar_seleccion}}
				                  <td>{{material.codigo}}</td>
				                  <td>{{material.desc}} {{#if material.serial}}-SE:{{material.serial}} {{/if}}</td>
				                  <!--<td>{{material.serial}}</td>-->
				                  <!--<td>{{material.desc}}</td>-->
				                  <td>{{material.cantidad_seleccion}}</td>
				                  <td><input type="checkbox" value={{material.codigo}}></td>
				                {{/if}}
				              </tr>
				              {{/each}}
				            </tbody>
			        	</table>
		        	</div>
	        	</div>
	        </div>
	     

	        <div class="row">
	        	<div class="col-md-12">
	        		<button type="button" class="btn btn-default fsize-9" {{action 'eliminarSeleccion'}} >Eliminar Seleccionados</button>
	    
	        		<button type="button" class="btn btn-primary fsize-9" {{action 'openModalAgregar'}} >Agregar Material</button>
	        	</div>
	        </div>
	       
		</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default fsize-9" data-dismiss="modal">Cancelar</button>
        <button  {{action 'guardarSolicitudMateriales' }} class="btn btn-primary fsize-9">Guardar</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal REPORTES-->
<div class="modal fade " id="myModalReportes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      	<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        	<h4 class="modal-title" id="myModalLabel">Reporte</h4>
      	</div>
      	<div class="modal-body fsize-9">
      		<ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#detalle" aria-controls="detalle" role="tab" data-toggle="tab">Detalle</a></li>
			    <li role="presentation"><a href="#servicios" aria-controls="servicios" role="tab" data-toggle="tab">Servicios</a></li>
			</ul>


			<div class="tab-content">




			    <div role="tabpanel" class="tab-pane active" id="detalle">

			    	<form id="formulario_rep">
				    	<div class="row">
				    	<br>


				    	<div class="col-md-12">
							<div class="form-group">
								<label>Tipo:</label><small class="form-text text-muted"> </small>
								<div class="input-group ">
								  <select class="form-control" name="tipo" id="select_tipo_reporte" onchange={{action 'selectReporte'}}>
								  	  <option disabled selected value="">Seleccione...</option>
								      <option value="Avance">Avance</option>
								      <option value="Problema">Problema</option>
								      <option value="Otro">Otro</option>
								    </select>
								  <span class="input-group-addon">{{fa-icon "bars"}}</span>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<label>Observaciones</label><small class="form-text text-muted"> </small>
								<div class="input-group height-100">
								  {{textarea name="observ" type="text" class="form-control height-120" placeholder="Observaciones" value=reporte.observ }}
								  <span class="input-group-addon">{{fa-icon "bars"}}</span>
								</div>
							</div>
						</div>


						</div>
					</form>

			    </div>



			    <div role="tabpanel" class="tab-pane" id="servicios">
			    	
			    	<div class="row">
			      		<div class="col-md-12">
			      		<div class="table-responsive">
				          	<table class="table table-condensed table-bordered">
					            <thead>
					              <tr>
					                <th>
					                	<p>Código</p>
					                </th>
					                <th>
					                	<p>Descripción</p>
					                </th>
					                <th>
					                	<p>Cantidad</p>
					                </th>
					                <th>
					                	<p>Seleccion</p>
					                </th>
					              </tr>
					            </thead>
					            <tbody>
					              {{#each disponibles as |servicio|}}
					              <tr>
					              	{{#if servicio.mostrar_seleccion}}
					                  <td><p>{{servicio.codigo}}</p></td>
					                  <td><p>{{servicio.desc}}</p></td>
					                  <td><p>{{servicio.cantidad_seleccion}}</p></td>
					                  <td><p><input type="checkbox" value={{servicio.codigo}}></p></td>
					                {{/if}}
					              </tr>
					              {{/each}}
					            </tbody>
				        	</table>
				        </div>
			        	</div>
			        </div>
			        <div class="row">
			        	<div class="col-md-12">
			        		<button type="button" class="btn btn-default fsize-9" {{action 'eliminarSeleccion'}} >Eliminar Seleccionados</button>
			    
			        		<button type="button" class="btn btn-primary fsize-9" {{action 'openModalAgregar'}} >Agregar Servicio</button>
			        	</div>
			        </div>

			    </div>




    		</div>
	      	

		</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default fsize-9" data-dismiss="modal">Cancelar</button>
        <button  {{action 'guardarReporte' }} class="btn btn-primary fsize-9">Guardar</button>
      </div>
    </div>
  </div>
</div>







<!-- Modal AGREGAR ELEMENTOS-->
<div class="modal fade " id="myModalAgregar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      	<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        	<h4 class="modal-title" id="myModalLabel">Agregar Elemento</h4>
      	</div>
      	<div class="modal-body fsize-9">


	      	<div class="row">
	      		<div class="col-md-12">
	      			{{#if material}}
	      			<div class="table-responsive">
		          	<table class="table  table-condensed table-bordered">
			            <thead>
			              <tr>
			                <th class="col-md-2">
			                	<p>Código</p>
			                </th>
			                <th class="col-md-4">
			                	<p>Desc</p>
			                </th>
			                <!--<th class="col-md-3">
			                	<p>Serial</p>
			                </th>-->
			                <!--<th>Descripción</th>-->
			                <th class="col-md-1">
			                	<p>Cantidad Disponible</p>
			                </th>
			                <th class="col-md-1">
			                	<p>Cantidad Selección</p>
			                </th>
			                <th class="col-md-1">
			                	<p>Seleccion</p>
			                </th>
			              </tr>
			            </thead>
			            <tbody>
			              {{#each disponibles as |material|}}
			              <tr>
			              	{{#if material.mostrar_sin_seleccion}}
			                  <td>
			                  	<p>{{material.codigo}}</p>
			                  </td>
			                  <td>
			                  	<p>{{material.desc}}{{#if material.serial}}-SE:{{material.serial}}{{/if}}</p>
			                  </td>
			                 <!-- <td>
			                  	<p>{{material.serial}}</p>
			                  </td>-->
			                  <!--<td>{{material.desc}}</td>-->
			                  <td>
			                  	<p>{{material.cantidad_sin_seleccion}}</p>
			                  </td>
			                  <td>
			                	<p>
			                  		<input type="number" class="form-control input-sm" id="cant_sel_{{material.codigo}}" min="0" max="{{material.cantidad}}">
			                	</p>
			                  </td>
			                  <td>
			                	<p>
			                  		<input type="checkbox" value={{material.codigo}}>
			                  	</p>
			                  </td>
			                  {{/if}}
			              </tr>
			              {{/each}}
			            </tbody>
		        	</table>
		        	</div>
		        	{{/if}}



		        	{{#if servicio}}
		        	<div class="table-responsive">
		          	<table class="table  table-condensed table-bordered">
			            <thead>
			              <tr>
			                <th>
			                	<p>Código</p>
			                </th>
			                <th>
			                	<p>Descripción</p>
			                </th>
			                <th>
			                	<p>Cantidad Disponible</p>
			                </th>
			                <th>
			                	<p>Cantidad Solicitud</p>
			                </th>
			                <th>
			                	<p>Seleccion</p>
			                </th>
			              </tr>
			            </thead>
			            <tbody>
			              {{#each disponibles as |servicio|}}
			              <tr>
			              	{{#if servicio.mostrar_sin_seleccion}}
			                  <td>
			                  	<p>{{servicio.codigo}}</p>
			                  </td>
			                  <td>
			                  	<p>{{servicio.desc}}</p>
			                  </td>
			                  <td>
			                  	<p>{{servicio.cantidad_sin_seleccion}}</p>
			                  </td>
			                  <td>
			                  	<p>
			                  	<input type="number" class="form-control input-sm" id="cant_sel_{{servicio.codigo}}" min="0" max="{{servicio.cantidad}}">
			                  	</p>
			                  </td>
			                  <td>
			                  	<p>
			                  	<input type="checkbox" value={{servicio.codigo}}>
			                  	</p>
			                  </td>
			                  {{/if}}
			              </tr>
			              {{/each}}
			            </tbody>
		        	</table>
		        	</div>
		        	{{/if}}
	        	</div>
	        </div>

		</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default fsize-9" data-dismiss="modal">Cancelar</button>
        <button  {{action 'agregarSeleccion' }} class="btn btn-primary fsize-9">Guardar</button>
      </div>
    </div>
  </div>
</div>