{{header-component}}
<div class="well jumbo-color">
	<div class="row">

    	<div class="col-md-12 ">
           	<div class="panel panel-default">
	            <div class="panel-heading">
	            	<h3 class="panel-title"> Detalle Etapa</h3>
	            </div>
               	<div class="panel-body">
               		<div class="row">

		      			<div class="col-md-6">
							<div class="form-group">
								<label>Codigo </label><small class="form-text text-muted">* </small>
								<div class="input-group">
								  {{input type="text" class="form-control" value=etapa.letra_eta disabled=true}}
								  <span class="input-group-addon">{{fa-icon "folder-open-o"}}</span>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>Estatus </label><small class="form-text text-muted">* </small>
								<div class="input-group">
								  {{input type="text" class="form-control" value=etapa.estatus disabled=true}}
								  <span class="input-group-addon">{{fa-icon "info"}}</span>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<label>Nombre </label><small class="form-text text-muted">* </small>
								<div class="input-group">
								  {{input type="text" class="form-control" value=etapa.nombre_eta disabled=true}}
								  <span class="input-group-addon">{{fa-icon "bars"}}</span>
								</div>
							</div>
						</div>

						

					


               		</div>
                </div>
            </div>
        </div>


        <div class="col-md-12 ">
           	<div class="panel panel-default">
	            <div class="panel-heading">
	            	<h3 class="panel-title"> Acciones</h3>
	            </div>
               	<div class="panel-body">
               		<div class="row">
               			<div class="col-md-12  text-center">

               			holis
               			</div>
               		</div>
                </div>
            </div>
        </div>


    </div>
</div>