<div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Sistema de Gestión de Proyectos</a>
			</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Bienvenido, </a></li>
					<li class="dropdown">
	  					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{currentName}}<span class="caret"></span></a>
	  					<ul class="dropdown-menu">
				            <li><a href="#">Perfil</a></li>
				            <li role="separator" class="divider"></li>
				            <li><a {{action 'logout'}}>Cerrar Sesión</a></li>
	 					 </ul>
					</li>
				</ul>
 			</div>
		</div>
	</nav>
</div>

<div class="container-fluid">
<div class="well jumbo-color">
	<div class="row">
    	<div class="col-md-12 ">
           	<div class="panel panel-default">
	            <div class="panel-heading">
	            	<h3 class="panel-title">Ver Solicitudes</h3>
	            </div>
               	<div class="panel-body">
               		<div class="row">
               			<div class="col-md-12  text-center">
               				<button class="btn btn-primary width-80" type="submit" {{action 'solicitudes'}}>Solicitudes</button>
               			</div>
               		</div>
                </div>
            </div>
        </div>

        <div class="col-md-12 ">
           	<div class="panel panel-default">
	            <div class="panel-heading">
	            	<h3 class="panel-title">Ver Proyectos</h3>
	            </div>
               	<div class="panel-body">
               		<div class="row">
               			<div class="col-md-12 text-center">
               				<button class="btn btn-primary width-80" type="submit" {{action 'proyectos'}}>Proyectos</button>
               			</div>
               		</div>
                </div>
            </div>
        </div>
    </div>
</div>

	<!--<div class="row">
		<div class="col-md-12">
			<ul>
				{{#each proyectos as |proyecto|}}
					<li>{{proyecto.nombre}}</li>
				{{/each}}	
			</ul>

		</div>
	</div>-->
</div>